
<p>
  <%= @account.supplier_id %>
</p>


<p>
  <strong>Account Number</strong>
  <%= @account.account_number %>
</p>

<ul>
  <li><%= link_to "Edit", edit_account_path %></li>
  <li><%= link_to "back", accounts_path %>
</ul>



