   
   <p>
      <strong>Name</strong>
      <%= @user_account.account_history.name %>
   </p>

   <p>
      <strong>contact</strong>
      <%= @user_account.account_history.contact %>
   </p>

   <p>
      <strong>email</strong>
      <%= @user_account.account_history.email %>
     </p> 
